mixin product-card-mini(imgsrc, title, price)
    .product-card-mini 
        .product-card-mini__img(style="background-image: url('./img/products/"+imgsrc+"')") 
            .product-card-big__title= title
            .product-card-mimi__price= price 