include ../mixins/product-card.pug
include ../mixins/product-card-big.pug
include ../mixins/product-card-mini.pug
include ../mixins/product-best-sellers.pug

block variables 

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet" href="./css/main.css")

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&family=Montserrat:wght@400;500;600;700;900&display=swap" rel="stylesheet">
        
    body 

        block content 
        script(src="./libs/jquery-3.6.0.min.js") 
        script(src="./js/main.js")