.container
    .best-sellers 
        .best-sellers__heading Best Sellers
        .row.justify-content-center.align-items-center
            .col-md-3
                +product-best-sellers('photo-1.png', 'Beanie', 'Green', '$39.99', '$29.99')
            .col-md-3
                +product-best-sellers('photo-2.png', 'T-Shirt With a Print', 'Dark Blue', '$29.99', '$19.99')
            .col-md-3
                +product-best-sellers('photo-3.png', 'Pile-Lined Hooded Jacket', 'Dark Blue', '$49.99', '$39.99')
            .col-md-3
                +product-best-sellers('photo-4.png', 'Trainers', 'Space Gray', '$39.99', '$29.99')