footer.footer 
    .container
        .footer-wrap
            a(href="#") 
                img(src="./img/logo/portland-footer-logo.svg", alt="Logo")

            nav.footer-nav 
                    a(href="#").nav__link  Home 
                    a(href="#").nav__link  Shop 
                    a(href="#").nav__link  Team
                    a(href="#").nav__link  About Us  
                    a(href="#").nav__link  Contacts
 
            .footer-icon 
                a(href="#").footer-icon__link 
                    img(src="./img/icons/twitter-icon.svg", alt="Icon Twitter")
                a(href="#").footer-icon__link 
                    img(src="./img/icons/facebook-icon.svg", alt="Icon Facebook")
                a(href="#").footer-icon__link 
                    img(src="./img/icons/g-icon.svg", alt="Icon G+")

    .footer-underline 
        .footer-text She gave my mother such a turn, that I have always been convinced I am indebted to <br> Miss Betsey for having been born on a Friday.
        .footer-underline__right 
            .footer-privacy 
                a(href="#") Privacy policy
            .footer-terms 
                a(href="#")  Terms and conditions