.container 
        .pagination-bg 
            .pagination-left 
                a(href="#").pagination-arrow__link 
                    img(src="./img/icons/prev-icon.svg", alt="Pagination arrow left")

            .pagination-pages 
                a(href="#").pagination-pages__link 1
                a(href="#").pagination-pages__link 2
                a(href="#").pagination-pages__link 3
                a(href="#").pagination-pages__link.pagination-pages__link--active 4
                a(href="#").pagination-pages__link 5
                a(href="#").pagination-pages__link 6
                a(href="#").pagination-pages__link 7
                a(href="#").pagination-pages__link 8

            .pagination-right
                a(href="#") 
                    img(src="./img/icons/next-icon.svg", alt="Pagination arrow right")

