
.wrap-product  

    .row.justify-content-end
        .col-md-4
            +product-card('apple-tv.jpg', 'Apple TV 32GB', 'Black', '$49.99')
        
        .col-md-4 
            +product-card('watch.jpg', 'Pebble Time', 'Red', '$29.99')

        .col-md-4 
            +product-card('zendure.jpg', 'Zendure 4-port USB', 'White', '$39.99')

    .row.justify-content-end
        .col-md-4 
            +product-card('analyzer.jpg', 'Withings Smart Body Analyzer ws-50', 'Blue', '$49.99')

        .col-md-8
            +product-card-big('jbl-bg.jpg', 'Charge 2+', 'Black', '$39.99', '16 GB')

    .row.justify-content-end    
        .col-md-4 
            +product-card('ollo.jpg', 'Ollo Clip New', 'Silver', '$19.99')
        
        .col-md-4 
            +product-card('tracker.jpg', 'Fitbit Charge HR Heart Rate and Activity Tracker', 'Black', '$19.99')

        .col-md-4 
            +product-card('apple-watch.jpg', 'Apple Watch Sport 38mm Silver Aluminum Case', 'White', '$49.99')

    .row.justify-content-end        

        .col-md-4 
            +product-card('headphones.jpg', 'Bose SoundLink On-Ear Headphones', 'White', '$119.99')

        .col-md-4 
            +product-card('hifi.jpg', 'Sonos Play-1 Wireless HiFi System', 'Black', '$99.99')

        .col-md-4 
            +product-card-mini('thermostat-bg.jpg', 'Nest Learning Thermostat, 3rd Generation', '$49.99',)