.sidebar 
    .sidebar-pages 
        .sidebar-pages__list  
            .sidebar-pages__item.sidebar-pages-1 
                a(href="#").sidebar-pages__link 
                    .sidebar-pages__text Top Sales
                    .sidebar-pages__img
                        img(src="./img/icons/open-icon.svg", alt="Arrow") 
            .sidebar-pages__item.active-item.open-1
                a(href="").sidebar-pages__sub-link
                    .sidebar-pages__sub-item Coming soon...

            .sidebar-pages__item.sidebar-pages-2 
                a(href="#").sidebar-pages__link
                    .sidebar-pages__text Brand Focus
                    .sidebar-pages__img 
                        img(src="./img/icons/open-icon.svg", alt="Arrow")
            .sidebar-pages__item.active-item.open-2
                a(href="").sidebar-pages__sub-link
                    .sidebar-pages__sub-item Coming soon...

            .sidebar-pages__item.sidebar-pages-3
                a(href="#" id="link").sidebar-pages__link
                    .sidebar-pages__text Hi-Tech
                    .sidebar-pages__img 
                        img(src="./img/icons/open-icon.svg", alt="Arrow")

            .sidebar-pages__item.active-item.open-3
                a(href="").sidebar-pages__sub-link
                    .sidebar-pages__sub-item Cell Phones  
                a(href="").sidebar-pages__sub-link
                    .sidebar-pages__sub-item Cameras
                a(href="").sidebar-pages__sub-link
                    .sidebar-pages__sub-item Computers
                a(href="").sidebar-pages__sub-link
                    .sidebar-pages__sub-item Tv, Audio
                a(href="").sidebar-pages__sub-link
                    .sidebar-pages__sub-item Video Games

            .sidebar-pages__item.sidebar-pages-4 
                a(href="#").sidebar-pages__link
                    .sidebar-pages__text Home
                    .sidebar-pages__img     
                        img(src="./img/icons/open-icon.svg", alt="Arrow")
            .sidebar-pages__item.active-item.open-4
                a(href="").sidebar-pages__sub-link
                    .sidebar-pages__sub-item Coming soon...

            .sidebar-pages__item.sidebar-pages-5
                a(href="#").sidebar-pages__link
                    .sidebar-pages__text Sales
                    .sidebar-pages__img 
                        img(src="./img/icons/open-icon.svg", alt="Arrow")
            .sidebar-pages__item.active-item.open-5
                a(href="").sidebar-pages__sub-link
                    .sidebar-pages__sub-item Coming soon...

    .sidebar-sort
        .sidebar-sort__wrap
            .sidebar-sort__title Available 
        .form 
            .form-radio__wrap
                .form-radio
                    input(type="radio" id="storage" name="radio" value="1").form-input__radio
                    label(for="storage").form-label__radio In Storage
                .quantity 45
            
            .form-radio__wrap
                .form-radio
                    input(type="radio" id="online-shop" name="radio" value="2").form-input__radio
                    label(for="online-shop").form-label__radio In Online-Shop
                .quantity 12

        .sidebar-sort__wrap
            .sidebar-sort__title Brands
            a(href="#") all 
        .form 
            .form-checkbox__wrap
                .form-checkbox
                    input(type="checkbox" id="checkbox-apple").form-input__checkbox
                    label(for="checkbox-apple").form-label__checkbox Apple 
                .quantity 32
            .form-checkbox__wrap
                .form-checkbox
                    input(type="checkbox" id="checkbox-jbl").form-input__checkbox
                    label(for="checkbox-jbl").form-label__checkbox JBL
                .quantity 14
            .form-checkbox__wrap
                .form-checkbox
                    input(type="checkbox" id="checkbox-bose").form-input__checkbox
                    label(for="checkbox-bose").form-label__checkbox Bose
                .quantity 3
            .form-checkbox__wrap
                .form-checkbox
                    input(type="checkbox" id="checkbox-nest").form-input__checkbox
                    label(for="checkbox-nest").form-label__checkbox Nest
                .quantity 5

    .condition-point
        .sidebar-sort__wrap
            .sidebar-sort__title Condition
            a(href="#") see all 
        .form 
            .form-checkbox__wrap
                .form-checkbox
                    input(type="checkbox" id="checkbox-New").form-input__checkbox
                    label(for="checkbox-New").form-label__checkbox New 
            .form-checkbox__wrap
                .form-checkbox
                    input(type="checkbox" id="checkbox-manufacturer").form-input__checkbox
                    label(for="checkbox-manufacturer").form-label__checkbox Manufacturer Refurbished
            .form-checkbox__wrap
                .form-checkbox
                    input(type="checkbox" id="checkbox-seller").form-input__checkbox
                    label(for="checkbox-seller").form-label__checkbox Seller Refurbished
            .form-checkbox__wrap
                .form-checkbox
                    input(type="checkbox" id="checkbox-used").form-input__checkbox
                    label(for="checkbox-used").form-label__checkbox Used 
            .form-checkbox__wrap
                .form-checkbox
                    input(type="checkbox" id="checkbox-for").form-input__checkbox
                    label(for="checkbox-for").form-label__checkbox For Parts or not Working