.users-bg
    .users-heading What Our Customers Have to Say
    .users-subtitle Couple of Words About This Stories Section
    .users-cards    
        .user-card 
            .user-data 
                .user-photo 
                    img(src="./img/users/user-1.png", alt="Photo")
                .user-data__wrap
                    .user-name Celia Fields
                    .user-post UX Expert
                
            .user-desc
                p This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
   
        .user-card 
            .user-data 
                .user-photo 
                    img(src="./img/users/user-2.png", alt="Photo")
                .user-data__wrap
                    .user-name Alexander Lee
                    .user-post Founder
                
            .user-desc
                p Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
   
        .user-card 
            .user-data 
                .user-photo 
                    img(src="./img/users/user-3.png", alt="Photo")
                .user-data__wrap
                    .user-name Lenora Sandoval
                    .user-post Product Manager
                
            .user-desc
                p This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
